name: Update TV Schedule

on:
  schedule:
    # Runs at 01:00 UTC every day
    - cron: '0 1 * * *'
  workflow_dispatch: # Allows you to run it manually from GitHub UI

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run EPG Ripper
        run: python epg_ripper.py

- name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          
          # Add all changes (if any)
          git add .
          
          # Check if there are changes to commit. If not, exit cleanly.
          if git diff --staged --quiet; then
            echo "No changes to commit (Schedule folder might be empty)."
            exit 0
          else
            git commit -m "Update TV Schedule [skip ci]"
            git push
          fi
